* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
}
body {
  background-image: url("./images/libraryBackground.jpg");
  background-size: cover;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* border: 3px solid red; */
  height: 100vh;
}
header {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  padding-top: 5vh;
  height: 25vmin;
  width: 100%;
  font-size: min(2vw, 1.5rem);
}
header h1,
blockquote {
  margin: 0 auto;
  color: white;
}
blockquote {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}
blockquote #author {
  align-self: flex-end;
  padding: 2vh;
}

main {
  font-size: 10px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  justify-content: center;
  padding: 5vh;
  /* height: 70vh; */
  background-color: rgba(240, 248, 255, 30%);
  gap: 3vmin;
}
main p {
  text-align: center;
  color: rgb(95, 50, 91);
}
#booksContainer {
  width: 100%;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(400px, 2fr));
  overflow: auto;
  padding: 2vmin;
}
.bookCard {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 1vmin;
  border-radius: 3vmin;
  border-left: 3vmin solid rgba(83, 34, 5, 0.437);
  font-size: 1.2em;
  justify-items: space-between;
  /* width: 300px; */
  height: 100%;
}

#booksContainer button {
  width: 5vmin;
  height: 5vmin;
  border: none;
  cursor: pointer;
  background-color: red;
  border-radius: 50%;
  align-self: left;
  justify-self: left;
}
main > button {
  background-color: #7d736f;
  border: none;
  border-radius: 7vmin;
  height: 10vmin;
  width: 20vmin;
  color: white;
  font-size: 2.5vmin;
  cursor: pointer;
}
footer {
  height: 10vh;
  width: 100%;
  align-self: center;
  background-color: rgba(0, 255, 255, 30%);
}
